.app {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

table {
  height: 100vh;
}

.primary {
  position: absolute;
  right: 0;
  width: calc(100vw - 200px);
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;

}

.average {
  font-size: 3em;
  font-weight: 700;
}

.averages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.theory {
  opacity: 0.5;
}

.average-failing,
.arrow-down {
  color: #f00;
}

.arrow-up {
  color: #0a0;
}

.theory-checkbox {
  width: 1rem;
  height: 1rem;
  accent-color: lightblue;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: #bfdfe8;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  margin: 10px 0;
}

li button {
  height: 35px;
  line-height: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: #d2e3e7;
}

.selected {
  background-color: #58a6b8;
}
