#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.average { 
  font-size: 3em;
  font-weight: 700;
}

.averages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.theory {
  opacity: 0.5;
}

.average-failing, .arrow-down {
  color: #F00
}

.arrow-up {
  color: #0A0
}